.box-show-comment {
  margin-top: 2rem;
  width: 50vw;
  background-color: #fff;
  padding: 1rem 3rem;
  border: 1px solid #000;
}

.box-show-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: -8rem;
}