.box-card {
  background-color: #fff;
  border: 1px solid #000;
  max-width: 33vw;
  margin: 2rem;
  img {
    width: 100%;
    height: auto;
  }
}

.box-card-info {
  padding: 1rem 3rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}