.form-container {
  width: 60vw;
  margin: -6rem auto 0 auto;
  padding: 1rem 3rem;
  background-color: #fff;
  border: 1px solid #000;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}